
.DscPage{
  margin: 2rem;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.b-title1 {
  font-family: 'Quicksand', serif;
  font-size: 3vw;
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  .b-title1 {
    font-size: 5vw;
  }
}

.b-container-x{
  display: flex;
  width: 100%;
  gap: 1rem;
}

.b-button-container-x1{
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
}

.b-container-icons-1 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3rem;
  margin: 1rem;
}

.b-container-icons-2{
  display: flex;
  overflow-y: auto;
  width: 100%;
  gap: 0.3rem;
}

.b-company-icon {
  height: 2rem;
  border-radius: 0.3rem;
}

.b-plus-icon {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.b-plus-icon:hover {
  color: black;
}

/* --------------------------------------------------------------------------------- */
/* ///////////////////////////////////////////////////////////////////////////////// */
/* ----------------------- https://copy-paste-css.com/form-input-text ------------- */


.input-txt{
  box-shadow: inset #abacaf 0 0 0 2px;
  border: 0;
  background: rgba(0, 0, 0, 0);
  appearance: none;
  width: 80%;
  position: relative;
  border-radius: 3px;
  padding: 9px 12px;
  line-height: 1.4;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  transition: all .2s ease;                
}

.input-txt:hover{
  box-shadow: inset #abacaf 0 0 0 2px;
  background-color: rgba(0, 0, 0, 0);
}

.input-txt:focus{
  background: #fff;
  outline: 0;
  box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 3px;
}                             

/* --------------------------------------------------------------------------------- */


.button-13 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.button-13:hover {
  background-color: #f7fafa;
}

.button-13:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

.b-container-x2 {
  display: flex;
  justify-content: center;
  align-items: center;
}


svg.b-loarder {
  width: 10em;
  animation: 1.5s spin ease infinite;
}

.ring {
  fill: none;
  stroke: hsla(341, 97%, 59%, 0.3);
  stroke-width: 2;
}

.ball {
  fill: #fc2f70;
  stroke: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}



