
.bf-container-1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px;
	gap: 1rem;
}

.bf-space-fix {
	height: 50px;
}

.bf-main-title {
	font-family: 'Quicksand', serif;
	font-size: 2vw;
	font-weight: bold;
}

.bf-container-4 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bf-container-5{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: 95%;

}

.bf-loarder {
  width: 10em;
  animation: 1.5s spin ease infinite;
}

.bf-loader-ring {
  fill: none;
  stroke: hsla(341, 97%, 59%, 0.3);
  stroke-width: 2;
}

.bf-loader-ball {
  fill: #fc2f70;
  stroke: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 767px) {
	.bf-main-title {
		font-size: 4vw;
		text-align: center;
	}

	.bf-input-txt {
		min-height: 2rem;
		font-size: 3vw;
	}

	.bf-button-container {
		font-size: 3vw;
	}

	.bf-company-icon {
		height: 7vw;
	}

	.bf-plus-icon {
		font-size: 7vw;
	}

	.bf-space-fix {
		height: 110px;
	}
}


/* f7f7f7 */







