
/* ------------ containers ----------- */
.cd-container-1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Quicksand', serif;
	background-color: rgba(255, 255, 255, 0.4);
	border: 1px solid  rgba(0, 0, 0, 0.4);
	border-radius: 0.5rem;
	width: 100%;
}

.cd-container-2 {
	display: flex;
	align-items: center;
	width: 100%;
}

.cd-container-3 {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow-x: auto;
	overflow-y: visible;
}

.cd-container-4 {
	display: flex;
	gap: 1rem;
	margin: 1rem;
}

.cd-item-container-1 {
	min-width: 15rem;
	height: 20rem;

	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 0.4rem;

	padding: 0.4rem;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;

	overflow-y: auto;
	overflow-x: hidden;
}

.cd-item-container-2 {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ------------ elements ----------- */

.cd-title-1 {
	font-size: 1.5vw;
}

.cd-item-title {
	font-size: 1.5vw;
	text-align: center;
}

.cd-item-info {
	font-size: 1vw;
	text-align: center;
}

.cd-item-link {
	text-decoration: none;
	font-size: 0.7vw;
	color: blue;
	cursor: pointer;
}

.cd-item-container-days {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.4rem;
	margin: 0.5rem;
}

.cd-item-days {
	background-color: white;
	border: 1px solid rgb(4, 116, 120);
	color: rgb(4, 116, 120);
	border-radius: 0.2rem;
	min-width: 1rem;
	padding: 0.1rem;
	font-size: 1vw;
	text-align: center;
}

.cd-arrow {
	font-size: 1.5rem;
}

/* ----------- movile ----------- */

@media only screen and (max-width: 767px) {

	.cd-container-1 {
		width: 90vw;
	}

	.cd-item-container-1 {
		min-width: 12rem;
		height: 17rem;
	}

	.cd-item-title {
		font-size: 4vw;
	}

	.cd-item-info {
		font-size: 4vw;
	}

	.cd-item-link {
		font-size: 3vw;
	}

	.cd-item-days {
		font-size: 3vw;
	}

	.cd-title-1 {
		font-size: 4vw;
	}
}


