
.sb-container-1x2 {
	display: flex;
	align-items: center;
	margin: 0px;
	gap: 0.5rem;
	width: 95vw;
	transition: top 20s ease-in-out;
}

.sb-fixed {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: #FAF0F7;
	padding-left: 2rem;
	padding-right: 2rem;
	width: 100%;
}

.sb-container-icons {
	width: 50%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.3rem;

    border: 1px solid rgb(4, 116, 120);
    border-radius: 0.5rem;
    padding: 0.5rem;
}


.sb-container-icons2 {
	display: flex;
	overflow-y: auto;
	width: 100%;
	gap: 0.3rem;
	width: 80%;
}


.sb-company-icon {
	height: 2rem;
	border-radius: 0.3rem;
}

.sb-plus-icon {
	font-size: 2rem;
	color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.sb-plus-icon:hover {
	color: black;
}

.sb-container-2 {
	display: flex;
	justify-content: flex-start;
	gap: 0.5rem;
	align-items: center;
	width: 95%;
}

.sb-container-3 {
	display: flex;
	align-items: center;
	border: 1px solid rgb(4, 116, 120);
	padding: 2px;
	border-radius: 0.4rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	background-color: #cff5ff;
	width: 60%;
	color: black;
}

.sb-input-txt {
	height: 2rem;
	width: 80%;
	padding: 0px;
	border: none;
	outline: none;
	flex-grow: 1;
	background-color: #cff5ff;
}

.sb-button-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;

	height: 2rem;

	color: black;
	background-color: #cff5ff;
	border: 1px solid rgb(4, 116, 120);
	border-radius: 0.4rem;
	cursor: pointer;
}

.sb-purpleicon {
	color: rgba(124, 106, 244, 0.9);
}

@media only screen and (max-width: 500px) {
	.sb-container-1x2 {
		flex-direction: column;
	}

	.sb-container-icons {
		width: 90%;
		padding: 0.3rem;
	}

	.sb-fixed {
		padding-left: 0px;
		padding-right: 0px;
		width: 100%;
	}

	.sb-company-icon {
		height: 1.7rem;
		border-radius: 0.3rem;
	}

	.sb-plus-icon {
		font-size: 1.7rem;
	}
}

