
footer {
  position: relative;
  font-family: 'Quicksand', serif;
  font-size: 2vh;
  position: absolute;
  bottom: 0px;
  right: 20px;
}

.h {
  text-decoration: none !important;
  cursor: text;
}

.f-icon-1 {
  color: rgba(100,250,1,0.5);
}