
.container {
	display: flex;
	text-align: center;
	align-items: center;
}

@media only screen and (min-width: 768px) {

  .button-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 0.35fr));
    justify-content: center;
    gap: 10px;
    margin: 5%;
    text-align: center; /* Centrar imágenes */
  }

}

@media only screen and (max-width: 767px) {

  .button-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 0.5fr));
    justify-content: center;
    gap: 10px;
    margin: 5%;
    text-align: center; /* Centrar imágenes */
  }

}

.button-container button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);

}

.button-container button:hover {
  cursor: pointer;
}

.button-container button.selected {
  background-color: rgba(0, 255, 0, 0.2);
}

.button-container button img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  padding: 0.3rem;
}

img:hover {
  opacity: 0.5;
}
