
/* ------ Pop Up css ------------- */
.ent-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(24, 0, 38, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.ent-body {
  font-family: 'Quicksand', serif;
  background-color: white;
  border-radius: 0.4rem;
  padding: 20px;
  position: relative;
  min-width: 40vw;
}

.ent-close {
  position: absolute;
  color: black;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

.ent-close:hover {
  color: red;
}

.ent-content {
  max-height: 80vh;
  max-width: 80vw;
}

/* ------------- pop up content --------- */

.ent-container-1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
}

.ent-container-2 {
	display: flex;
	width: 90%;
	justify-content: flex-start;
	gap: 0.5rem;
	overflow-x: auto;
	padding: 0.5rem;
	min-height: 2.5rem;
	border: 1px solid rgba(124, 106, 244, 0.5);
	border-radius: 0.4rem;
}

.ent-container-2x1 {
	margin: 0px;
	padding: 0px;
	display: flex;
	align-items: center;
	position: relative;
}

.ent-container-3 {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	width: 100%;
	height: 40vh;
	gap: 1rem;
	padding: 1rem;
	background-color: rgba(124, 106, 244, 0.1);
	border-radius: 0.4rem;
}

.ent-container-4 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	border: 0px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	cursor: pointer;
	font-size: 1vw;
	color: black;
	font-family: 'Quicksand', serif;
}

.ent-container-4:hover {
	color: rgba(124, 106, 244, 1);
}

div.ent-container-3 > button:last-child {
	border-bottom: 0px solid rgba(0, 0, 0, 0.5);
}

.ent-container-5 {
	display: flex;
	gap: 1rem;
	align-items: center;
}
 
.ent-img-1 {
	height: 2.5vw;
	width: auto;
	border-radius: 0.3rem;
}

.ent-img-2 {
	height: 2rem;
	width: auto;
	border-radius: 0.3rem;
}

.ent-check-icon {
	color: rgba(124, 106, 244, 1);
}

.ent-img-3 {
	height: 6vw;
	width: auto;
}

.ent-button-1 {
	height: 2.5rem;
	font-family: 'Quicksand', serif;
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid black;
	border-radius: 0.4rem;
	cursor: pointer;
	color: black;
}

.ent-button-1:hover {
	border: 1px solid rgba(124, 106, 244, 1);
	color: rgba(124, 106, 244, 1);
}

.ent-button-1:disabled {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.5);
  cursor: auto;
}

.ent-img2-icon{
	color: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: -5px;
  right: -5px;
}

.ent-container-2x1:hover .ent-img2-icon {
	color: black;
}

/* ------------- mobile ------------- */

@media only screen and (max-width: 770px) {
	.ent-body {
	  min-width: 70vw;
	}

	.ent-img-1 {
		height: 8vw;
	}

	.ent-container-4 {
		font-size: 2vw;
	}

	.ent-img-3 {
		height: 15vw;
	}
}

@media only screen and (max-width: 430px) {

	.ent-container-4 {
		font-size: 4vw;
	}
}


