 
/*
*{
	border: 1px solid red;
}*/

/* ---------- Main page ----------------- */

.Home {
  margin: 1rem;
  padding: 1rem;
  width: auto;
  position: relative;
}

.container-h-1 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

/* ------------ Content ------------ */

.space {
	height: 5rem;
}

.container-h-3 {
	display: flex;
	justify-content: space-evenly;
  align-items: flex-start;
}

.h-main-title-1 {
	font-family: 'Poppins', sans-serif;
	letter-spacing: 0;
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 3rem;
}

.h-main-title-2 {
	font-family: 'Poppins', sans-serif;
	color: #7D6AF4;
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 3rem;
}

.h-sub-title {
	font-family: 'Quicksand', serif;
	line-height: 31px;
	font-size: 1.5rem;
	text-align: center;
}

.container-h-4 {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 5px;
	max-width: 40rem;
}

.h-main-image {
	width: auto;
	height: 25vw;
	min-height: 7rem;
}

/* ------------ Entities Buttons ------------ */
.container-h-b-1 {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin: 5px;
	align-items: center;
	width: 100%;
}

.container-h-b-1 button {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1px;
  width: 3rem;
  cursor: pointer;
}

.container-h-b-1 button.selected {
  border: solid 2px #748DA6;
}

.container-h-b-1 button img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  padding: 0px;
  border-radius: 0.3rem;
}

.container-h-b-1 button img:hover {
  opacity: 0.5;
}

.h-button-1 {
	height: 2.5rem;
	border-radius: 0.3rem;
	/*background-color: #EA4C89;*/
	background-image: linear-gradient(to right, rgb(101,110,248) , rgb(	255, 102, 196));
	border-style: none;
	box-sizing: border-box;
	font-family: 'Quicksand', serif;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
}

.h-button-1:hover,
.h-button-1:focus {
  opacity: 0.8;
}

/* ----------------------- Mobile ---------------- */

@media only screen and (max-width: 767px) {

	.space {
		height: 0px;
	}

	.h-contact-button {
		font-size: 0.6rem;
		width: 5rem;
		height: auto;
		padding: 0.3rem;
	}

	.container-h-3 {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		/*justify-content: end;*/
	}

  .h-main-title-1,
  .h-main-title-2 {
		font-size: 1.86rem;
	}

	.h-sub-title {
		font-size: 1rem;
	}

	.container-h-2x1 {
		font-size: 2rem;
		gap: 0.5rem;
	}

	.h-logo-img {
		width: auto;
		height: 2rem;
		border-radius: 0.2rem;
	}

	.container-h-4 {
		gap: 0px;
	}

}

@media only screen and (max-width: 320px) {
	.h-main-title-1,
	.h-main-title-2 {
		font-size: 1.5rem;
	}

	.h-sub-title {
		font-size: 0.8rem;
	}
}

